.flex {
  display: flex;
  display: -webkit-flex;
  align-items: center;

  > button {
    margin: -11px 0;
    text-align: center;
    border-radius: 0;
  }

  > button:last-child {
    margin-right: -16px;
  }

  .flex-1 {
    flex: 1;
    -webkit-flex: 1;
  }
}
