h1 Shipment routes

table.table.table-striped.table-hover.table-responsive(
ng-table='ctrl.tableParams'
ng-show='ctrl.data.length'
)
  tr.clickable(
  ng-repeat='row in $data track by row.id'
  ng-click='ctrl.click(row,$event)'
  )
    td(title="'Статус'" sortable="'processing'")
      | {{ctrl.statusLabel(row.processing)}}
    td(title="'Водитель'" sortable="'drivenBy.name'") {{ row.drivenBy.name }}
      span(ng-if="row.driverAccount") &nbsp;
        i.fa.fa-mobile.green
    td.number(title="'Точек'" sortable="'shipmentRoutePointCnt'" header-class="'number'")
      | {{row.agg.shipmentRoutePointCnt}}
    td.number(title="'Накладных'" sortable="'agg.shipmentCnt'" header-class="'number'")
      | {{row.agg.shipmentCnt}}
    td.number(title="'Шт.'" sortable="'agg.volumeSum'" header-class="'number'")
      | {{row.agg.volumeSum}}
    //td.number(title="'Пробег'" sortable="'locationKm'" header-class="'number'")
      | {{row.locationKm}}
    td.buttons(title="'Прочее'")
      span(ng-if="row.agg.volumeIncidentCnt" title="Были инциденты с товаром")
        i.fa.fa-exclamation-triangle.red
      button.btn.btn-default(ng-if="row.routePointsAgg.reachedCnt" title="Отчет о прибытии" ng-click="ctrl.printReport(row,$event)")
        i.glyphicon.glyphicon-print.blue


{{ vm.state | json }}
{{ vm.shipmentRoutes | json }}
