h1 Shipment routes

table.table.table-striped.table-hover.table-responsive
  tr.clickable(
  ng-repeat='row in ctrl.data track by row.id'
  ng-click='ctrl.click(row,$event)'
  )
    td {{ row.drivenBy.name }}
      span(ng-if="row.driverAccount") &nbsp;
        i.fa.fa-mobile.green
    td.number
      | {{row.agg.shipmentRoutePointCnt}}
    td.number
      | {{row.agg.shipmentCnt}}
    td.number
      | {{row.agg.volumeSum}}
    //td.number(title="'Пробег'" sortable="'locationKm'" header-class="'number'")
      | {{row.locationKm}}
    td.buttons(title="'Прочее'")
      span(ng-if="row.agg.volumeIncidentCnt" title="Были инциденты с товаром")
        i.fa.fa-exclamation-triangle.red
      button.btn.btn-default(ng-if="row.routePointsAgg.reachedCnt" title="Отчет о прибытии" ng-click="ctrl.printReport(row,$event)")
        i.glyphicon.glyphicon-print.blue
#printReady(ng-if="ctrl.printReady")
