.map-canvas {
  height: 400px;
}

.large-map {

  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 600px;

  .ya-map-container {
    //height: 100%;
    height: 600px;
    width: 870px;
    //width: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }


}

@media print {

  .large-map  {
    zoom: 75%;
  }

  .ya-map-container {
    width: 800px;
  }
}


@media all {

  .ya-map-container a {
    //display: none !important;
  }

}
