section.text-left(ng-repeat='route in vm.data track by route.id')

  h3.text-center.report-header Отчет по мониторингу доставки товара Заказчика "ООО Проект-2015"

    h5.flex
      span.gray.spaced Дата:
      span.flex-1 {{ ::route.date }}

    h5.flex
      span.gray.spaced Водитель:
      span.flex-1 {{ ::route.reportData.driver.name }}

    h5.flex
      span.gray.spaced Автомобиль:
      span.flex-1 «{{ ::route.reportData.driver.truckBrand }}» № {{ ::route.reportData.driver.truckNumber }}

  div
    img.width-100(ng-src='{{::route.mapSrc}}')

  table.table.table-responsive
    thead
      th №
      th Точка
      th Накладные
      th Прибыл
    tbody
      tr(ng-repeat='row in route.reportData.routePoints track by row.id')
        td {{ $index + 1 }}
        td {{ ::row.name }}
        td {{ ::row.shipment.ndocs.join(', ') }}
        td {{ ::row.reachedAtTimestamp | amUtc | amLocal | amDateFormat: 'HH:mm' }}

  .report-footer.flex.flex-align-end
    .text-right.flex-1 Отчет составил:
    .signature-placeholder
    .text-bold / {{ vm.authorName }} /

  .page-footer

#printReady(ng-if="vm.printReady")
#errorReady(ng-if="vm.errorReady")
