.currency-value(ng-if='!vm.hideEmpty || vm.value')
  label(ng-if='vm.label') {{ vm.label }}
  strong {{ vm.value | number:vm.decimals }}
  span.currency(ng-if='vm.value || vm.value === 0') {{ ::vm.currency }}
